body {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    text-align: center;

}

button {
    
    margin: 20px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#char-cards {
    color: fuchsia;
    font-family: cursive;
    font-size: xx-small;
    background-color: darkmagenta;
    border-radius: 15%;
    padding: 20px;

}

#char-cards:hover {
    font-size: xx-large;
    transition: 0.5s;
    transform: rotate(360deg);
    color: aquamarine;
    background-color: brown;
}